<mat-toolbar id="navbar">
    <img id="logo" src="../../../assets/svg/eatab-logo.svg"/>
</mat-toolbar>

<div class="mat-background-color" class="main">
    <mat-card>
        <img mat-card-image src="../../../assets/svg/service.svg" height="200px">        
        <mat-card-title>EaTaB Service</mat-card-title>
        <mat-card-content>
            Lorem ipsum dolor dummy text to enable scrolling, sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </mat-card-content>
        <mat-card-actions>
            <button mat-icon-button color="primary" (click)="redirectTo('')">
                <mat-icon>open_in_new</mat-icon>
            </button>    
        </mat-card-actions>
    </mat-card>

    <mat-card>
        <img mat-card-image src="../../../assets/svg/touch-app.svg" height="200px"> 
        <mat-card-title>EaTaB Client</mat-card-title>
        <mat-card-content>
            Lorem ipsum dolor dummy text to enable scrolling, sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </mat-card-content>
        <mat-card-actions>
            <button mat-icon-button color="primary" (click)="redirectTo('')">
                <mat-icon>open_in_new</mat-icon>
            </button>    
        </mat-card-actions>
    </mat-card>

    <mat-card>
        <img mat-card-image src="../../../assets/svg/manage-account.svg" height="200px"> 
        <mat-card-title>EaTaB Manager</mat-card-title>
        <mat-card-content>
            Lorem ipsum dolor dummy text to enable scrolling, sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </mat-card-content>
        <mat-card-actions>
            <button mat-icon-button color="primary" (click)="redirectTo('')">
                <mat-icon>open_in_new</mat-icon>
            </button>    
        </mat-card-actions>
    </mat-card>

    <div style="height: 50px;"></div>
</div>
<mat-toolbar class="footer">
    <div style="display: flex; width: 33%;">
        <h6 style="font-size: small;">© EaTaB - 2021</h6>
    </div>

    <div style="display: flex; justify-content:center; width: 33%;">
        <!-- <span>FAQ - Contatti - Info</span> -->
    </div>

    <div style="display: flex; justify-content:flex-end; width: 33%;">
        <button mat-icon-button color="primary" (click)="redirectTo('linkedin')">
            <mat-icon svgIcon="linkedin"></mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="redirectTo('github')">
            <mat-icon svgIcon="github"></mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="redirectTo('material')">
            <mat-icon svgIcon="material"></mat-icon>
        </button>    
    </div>
</mat-toolbar>